@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,200;1,400;1,500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  width: 100%;
  height: 100vh;
}

body .container {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1.5em;
  max-width: 1350px;
  max-height: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 85vh;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em 2em 0 2em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
  opacity: 0;
}

body .container .header .left-buttons button {
  border: none;
  padding: .8em;
  border-radius: 100%;
  outline: none;
  margin-right: .2em;
  cursor: pointer;
}

body .container .header .left-buttons .red {
  background: red;
}

body .container .header .left-buttons .yellow {
  background: yellow;
}

body .container .header .left-buttons .green {
  background: #40ff2f;
}

body .container .header .right-buttons button {
  border: none;
  padding: .8em;
  border-radius: 100%;
  margin-right: .2em;
  opacity: 0;
}

body .container .header .logo img {
  height: 3em;
  -webkit-filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
          filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

body .container .header .menu img {
  opacity: 0;
}

body .container .message p {
  text-align: center;
  font-weight: 600;
  color: red;
  font-size: 1.5em;
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  opacity: 0;
}

body .container .movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0em 1em 1em 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: auto;
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0;
}

body .container .movies img {
  overflow-y: hidden;
  height: 20em;
  padding-right: 0em;
  margin-bottom: 30px;
  border-radius: 8px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

body .container .movies img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 3px 5px 13px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 5px 13px -4px rgba(0, 0, 0, 0.75);
}

body .container .movies .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

body .container .movies .movie {
  white-space: nowrap;
}

body .container .popups .popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

body .container .popups .popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
          transform: translateX(-50%) translateY(-50%) scale(0);
  background: rgba(255, 255, 255, 0.75);
  width: 600px;
  z-index: 2;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  border-radius: 10px;
}

body .container .popups .popup .content iframe {
  margin-top: 50px;
  border-radius: 10px;
}

body .container .popups .popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

body .container .popups .popup.active .overlay {
  display: block;
}

body .container .popups .popup.active .content {
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
  display: block;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */